*{
    margin:0;
    padding:0;
}

/*========= shared style======= */

p, td, li, hr,  .description, .change-description{
   color:#969287;
}

h4, h3, h2, h6, th{
    color:#FFFFFF;
}

/*===== Header styles===== */

header{
    background-color: #222222;
    padding-top: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 190px 96px 190px;


}

.nav-header h4{
    font-style: italic;
    font-size: 36px;
    color: #E6533C;
    font-weight: 700;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    
}

.nav-menu li{
    list-style-type: none;
    margin-left: 20px;

}

.nav-menu li a{
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 600;
}

.hamburger-menu{
    display: none;
}

.home-btn{
    padding: 12px 24px 12px 24px;
    border-radius: 46px;
    border:none;
    background-color: #E6533C;
    color:#FFFFFF;
    
}

.banner-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-bottom: 30px;
    
}

.banner-title{
    font-size: 78px;
}

.banner-content{
    width:50%;
    
}

.shape{
    font-style: italic;
    font-weight: 100;
}

.banner-title{
    font-size: 78px;
    color:#FFFFFF;
}

.description{
    font-size: 16px;
}

.btn-container{
    display: flex;
    gap: 14px;
    align-items: center;
    margin-top: 28px;
}

.btn-club{
    padding: 16px 46px 16px 46px;
    border-radius: 42px;
    background-color: #E6533C;
    border:none;
    font-size: 18px;
    font-weight: 600;
    color:#FFFFFF;
}

.download-btn{
    padding: 16px 48px 16px 48px;
    border-radius: 42px;
    background-color: #0F0F0F;
    border: 1px solid #969287;
    font-size: 18px;
    font-weight: 600;
    color:#FFFFFF;

}

.banner-potrait{
    margin-top: 32px;
}

.potrait-container{
    display: flex;
    gap:0px;

}

.video-tutorial-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:12px;
    margin-top: 360px;
    border:1px solid#303030;
    border-radius: 12px;
    padding:0 10px;
    height: 60px;
    background-color: #303030;
}

.video-tutorial h4{
  font-size: 24px;
}

.video-tutorial p{
    font-size: 16px;
  }


.red-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E6533C;
}

.potrait{
    margin-top: -100px;
    margin-left: -70px;
}


.workout-videos{
    border-radius: 10px;
    padding:10px;
    height: 60px;
    background-color: #303030;
    margin-left: -120px;
    margin-top: 40px;

}

.workout-videos h4{
    font-size: 40px;
    font-weight: 700;
}

.workout-videos p{
    font-size: 16px;
}




/*============== Responsive style================= */

@media only screen and (min-width: 992px) and (max-width: 1280px){
    header{
        padding: 52px 20px;
    }
	
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 52px 0px;
        
    }


    .banner-container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap:100px;
    }

    .banner-content{
        width:100%;
    }

    .banner-title{
        font-size: 36px;
    }

    .video-tutorial h4{
        font-size: 18px;
    }

    .btn-club{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    }
    
    .download-btn{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    
    }

    .banner-container{
        flex-direction: column;
        align-items: center;
        gap: 140px;
    }


    .video-tutorial-container{
        margin-top: 130px;
        z-index: 1;
        width:100%;
        padding: 10px;
        margin-right: 35px;
    
       }

    .red-circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }

    .potrait img{
        width: 100%;
        height: 388px;
        overflow: hidden;
        
    }

    .workout-videos{
        width: 100%;
        margin-left: -30px;
        margin-top: -70px;
    }

    .workout-videos h4{
        font-size: 20px;
  }

    .workout-videos p{
        font-size: 10px;
    }
}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    header{
        padding: 52px 20px;
    }
	
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 52px 0px;
        
    }


    .banner-container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap:100px;
    }

    .banner-content{
        width:100%;
    }

    .banner-title{
        font-size: 36px;
    }

    .video-tutorial h4{
        font-size: 18px;
    }

    .btn-club{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    }
    
    .download-btn{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    
    }

    .banner-container{
        flex-direction: column;
        align-items: center;
        gap: 140px;
    }


    .video-tutorial-container{
        margin-top: 130px;
        z-index: 1;
        width:100%;
        padding: 10px;
        margin-right: 35px;
    
       }

    .red-circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }

    .potrait img{
        width: 100%;
        height: 388px;
        overflow: hidden;
        
    }

    .workout-videos{
        width: 100%;
        margin-left: -30px;
        margin-top: -70px;
    }

    .workout-videos h4{
        font-size: 20px;

    }

    .workout-videos p{
        font-size: 10px;
    }
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

    header{
        padding: 52px 20px;
    }
	
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 52px 0px;
        
    }

    .nav-menu{
        display: none;
    }

    .hamburger-menu{
        display: block;
        font-size: 40px;
        color:#B9B9B9;
        
    }


    .banner-container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap:100px;
    }

    .banner-content{
        width:100%;
    }

    .banner-title{
        font-size: 36px;
    }

    .video-tutorial h4{
        font-size: 18px;
    }

    .btn-club{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    }
    
    .download-btn{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    
    }

    .banner-container{
        flex-direction: column;
        align-items: center;
        gap: 140px;
    }


    .video-tutorial-container{
        margin-top: 40px;
        z-index: 1;
        width:100%;
        padding: 10px;
    
       }

    .red-circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }

    .potrait img{
        width: 100%;
        height: 388px;
        overflow: hidden;
        
    }

    .workout-videos{
        width: 100%;
        margin-left: -30px;
        margin-top: -70px;
    }

    .workout-videos h4{
        font-size: 20px;

    }

    .workout-videos p{
        font-size: 10px;
    }
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    header{
        padding: 52px 20px;
      } 
          
      nav{
       width: 90%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       
      }


    .nav-menu{
        display: none;
    }

    .hamburger-menu{
        display: block;
        font-size: 40px;
        color:#B9B9B9;
    }


    .banner-container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap:100px;
    }

    .banner-content{
        width:100%;
    }

    .banner-title{
        font-size: 36px;
    }

    .video-tutorial h4{
        font-size: 18px;
    }

    .btn-club{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    }
    
    .download-btn{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    
    }

    .banner-container{
        flex-direction: column;
        align-items: center;
        gap: 140px;
    }


    .video-tutorial-container{
        margin-top: 40px;
        z-index: 1;
        width:100%;
        padding: 10px;
    
       }

    .red-circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }

    .potrait img{
        width: 100%;
        height: 388px;
        
    }

    .workout-videos{
        width: 100%;
        margin-left: -30px;
        margin-top: -70px;
    }

    .workout-videos h4{
        font-size: 20px;

    }

    .workout-videos p{
        font-size: 10px;
    }

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
      
     header{
      padding: 52px 20px;
    } 
        
    nav{
     width: 90%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     
    }

    .nav-menu{
     display: none;

    }

    .hamburger-menu{
      display: block;
      font-size: 40px;
      color:#B9B9B9;
     }


    .banner-container{
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap:100px;
    }

    .banner-content{
      width:100%;
      padding: 51px 20px 48px 21px;

     }

    .banner-title{
      font-size: 36px;
    }

   .video-tutorial h4{
     font-size: 18px;
    }

    .btn-club{
      width: 150px;
      padding: 10px 18px 16px 18px;
      border-radius: 22px;
      font-size: 10px;
      height: 40px;
    }
        
    .download-btn{
      width: 150px;  
      padding: 10px 18px 16px 18px;
      border-radius: 22px;
      font-size: 10px;
      height: 40px;
        
     }

     .banner-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 140px;
      
     }


        .video-tutorial-container{
            margin-top: 40px;
            z-index: 1;
            width:100%;
            padding: 0px;
            gap: 0px;
        
           }

        .red-circle{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .potrait img{
            width: 100%;
            height: 388px;
            
        }

        .workout-videos{
            width: 100%;
            margin-left: -30px;
            margin-top: -70px;
        }

        .workout-videos h4{
            font-size: 20px;

        }

        .workout-videos p{
            font-size: 10px;
        }

}

/*========Change Habits styles====== */

.change-habits{
    background-color: #000000;
    padding: 100px 198px;
}


.habits{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habits h2{
    font-size: 42px;
}



.changeHabits-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 40px;
    padding-top: 58px;
}

.change h4{
    font: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.change-image{
    width: 100%;
    margin-bottom: 30px;
    
}


.change-image img{
    width: 240px;
    height: auto;
    border-radius: 50%;
    
}

.change-description{
    font-size: 14px;

} 

@media only screen and (min-width: 992px) and (max-width: 1280px){
    .change-habits{
        padding: 50px;
        padding-bottom: 0px;
    }

    .changeHabits-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
     }


     .change-image img{
        width: 100%;

    }
}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    .change-habits{
        padding: 50px;
        padding-bottom: 0px;
    }

    .changeHabits-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
     }


     .change-image img{
        width: 100%;

    }

}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
    .change-habits{
        padding: 50px;
    }

    .changeHabits-container{
        grid-template-columns: 1fr;
        align-items: center;
     }

     .change-image img{
        width: 100%;
        
    }

	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
    .change-habits{
        padding: 50px;
    }

    .changeHabits-container{
        grid-template-columns: 1fr;
        align-items: center;
     }

     .change-image img{
        width: 100%;
        
    }
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {

        .change-habits{
            padding: 28px;
        }

        .habits h2{
            font-size: 22px;
            margin: 10px 0px;
        }
	
        .changeHabits-container{
            grid-template-columns: 1fr;
            align-items: center;
         }

         .change-image img{
            width: 100%;
            
        }
}


/*===== Run extra mile styles==== */

.run-extraMile{
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 91px;
}

.run-extraMileContainer{
    display: flex;
    justify-content: center;
    background-color: #222222;
    margin: 0px 190px;
    gap: 165px;
    border-radius: 10px;
    padding: 30px 54px 30px 35px;
   
}

.extra-mile{
    padding: ;
}

.extra-mile h2{
   font-size: 48px;
   padding-bottom: 14px;
}

.extra-mile p{
  font-size: 14px;
  padding-bottom: 34px;

}

.btn-runMile{
    padding: 10px 18px 16px 18px;
    border-radius: 22px;
    font-size: 18px;
    font-weight: 600;
    height: 40px; 
    background-color: #E6533C;
    border: none;
    color:#FFFFFF;
}

.extraMile-potrait img{
    width: 366px;
    border-radius: 18px;
}


/*==========Responsive styles==========*/

@media only screen and (min-width: 992px) and (max-width: 1280px){
    .run-extraMileContainer{
        display: flex;
        margin:0px;
        gap: 31px;
        margin: 66px 20px;
        padding: 31px 33px;
      
    
    }
    
     .btn-runMile{
        width: 100%;
        font-size: 14px;
      }
    
     .extra-mile h2{
        font-size: 22px;
        padding-bottom: 14px;
     }
    
    .extraMile-potrait img{
        width:100%;
        border-radius: 18px;
    }
    
}




/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
		
.run-extraMileContainer{
    display: flex;
    margin:0px;
    gap: 31px;
    margin: 66px 20px;
    padding: 31px 33px;
  

}

 .btn-runMile{
    width: 100%;
    font-size: 14px;
  }

 .extra-mile h2{
    font-size: 22px;
    padding-bottom: 14px;
 }

.extraMile-potrait img{
    width:100%;
    border-radius: 18px;
}

}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
		
.run-extraMileContainer{
    flex-direction: column;
    margin:0px;
    gap: 31px;
    margin: 66px 20px;
    padding: 31px 33px;
  

}

 .btn-runMile{
    width: 100%;
    font-size: 14px;
  }

 .extra-mile h2{
    font-size: 22px;
    padding-bottom: 14px;
 }

.extraMile-potrait img{
    width:100%;
    border-radius: 18px;
}

	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
		
.run-extraMileContainer{
    flex-direction: column;
    margin:0px;
    gap: 31px;
    margin: 66px 20px;
    padding: 31px 33px;
  

}

 .btn-runMile{
    width: 100%;
    font-size: 14px;
  }

 .extra-mile h2{
    font-size: 22px;
    padding-bottom: 14px;
 }

.extraMile-potrait img{
    width:100%;
    border-radius: 18px;
}


}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
 .run-extraMile{
    padding-bottom: 66px;
 }

.run-extraMileContainer{
    flex-direction: column;
    margin:0px;
    gap: 31px;
    margin: 66px 20px;
    padding: 31px 33px;
  

}

 .btn-runMile{
    width: 100%;
    font-size: 14px;
  }

 .extra-mile h2{
    font-size: 22px;
    padding-bottom: 14px;
 }

.extraMile-potrait img{
    width:100%;
    border-radius: 18px;
}

	
}

/*=========Training excercise style=====*/

.training-excercise{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 91px 190px 88px 190px;
    padding-bottom: 0px;
    background-color: #000000;
}


.training{
    padding-bottom:58px;
   
}

.training h2{
    font-size: 48px;
    margin:10px;
}

.training p{
    font-size: 14px;
}


.trainingExcercise-container{
    
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap:0;
}




.trainingExcercise-container img{
    position: relative;
    width:100%;
    height: 201px;
    opacity: 0.5;
   
}

img:hover {
    opacity: 1.0;
  }


.potrait-one{
    position: relative;
    background-color: #08846E;
    
}

.potraitText-one{
    position: absolute;
    bottom: 50px;
    left: 16px;
    font-size: 14px;
    font-weight: 600;
}

.potrait-two{
    position: relative;
    background-color: #80302D;
}

.potraitText-two{
    position: absolute;
    top:16px;
    left:16px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.potrait-three{
    position: relative;
    background-color: #797876;
}

.potraitText-three{
    position: absolute;
    bottom: 50px;
    left:16px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    
}

.potrait-four{
    position: relative;
    background-color: #1B171A;
}


.potraitText-four{
    position:absolute;
    right:16px;
    top:16px;
    color: #FFFFFF;
}


.potrait-five{
    position:relative;
    background-color: #B3EC9F;
}

.potraitText-five{
    position:absolute;
    bottom:16px;
    left:16px;
    color: #FFFFFF;
}

.potrait-six{
    position: relative;
    background-color: #A9C1F9;
}

.potraitText-six{
    position: absolute;
    bottom:16px;
    left:16px;
    color: #FFFFFF;
    

}


.bmi-calculator{
    width: 100%;
    padding:88px 194px;
    
}

.bmi-calculator h2{
    font-size: 48px;
    font-weight: 700;
}

.bmi-calculator p{
    font-size: 14px;
}



/*=========Responsive styles=======*/

@media only screen and (min-width: 992px) and (max-width: 1280px){
    .training-excercise{
        padding: 58px 20px 30px 20px;
     }

     .training{
       width:100%;
       padding-bottom: 52px;
     }

     .training h2{
       font-size: 32px;
       margin:10px;
   }
   
   .training p{
       font-size: 14px;
   }
       
    .trainingExcercise-container{
         display:grid;
         grid-template-columns: repeat(3, 1fr);
         justify-content: center;
         gap:0;
       }

    .trainingExcercise-container img{
       width:100%;
       height: auto;
       opacity: 0.5;
   }
   
}




/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    .training-excercise{
        padding: 58px 20px 30px 20px;
     }

     .training{
       width:100%;
       padding-bottom: 52px;
     }

     .training h2{
       font-size: 32px;
       margin:10px;
   }
   
   .training p{
       font-size: 14px;
   }
       
    .trainingExcercise-container{
         display:grid;
         grid-template-columns: repeat(3, 1fr);
         justify-content: center;
         gap:0;
       }

    .trainingExcercise-container img{
       width:100%;
       height: auto;
       opacity: 0.5;
   }
   
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
    .training-excercise{
        padding: 58px 20px 30px 20px;
     }

     .training{
       width:100%;
       padding-bottom: 52px;
     }

     .training h2, .bmi-calculator h2{
       font-size: 32px;
       margin:10px;
   }
   
   .training p, .bmi-calculator p{
       font-size: 14px;
   }
       
    .trainingExcercise-container{
         display:grid;
         grid-template-columns: repeat(2, 1fr);
         justify-content: center;
         gap:0;
       }

    .trainingExcercise-container img{
       width:100%;
       height: auto;
       opacity: 0.5;
   }
   
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
    .training-excercise{
        padding: 58px 20px 30px 20px;
     }

     .training{
       width:100%;
       padding-bottom: 52px;
     }

     .training h2, .bmi-calculator h2{
       font-size: 32px;
       margin:10px;
   }
   
   .training p, .bmi-calculator p{
       font-size: 14px;
   }
       
    .trainingExcercise-container{
         display:grid;
         grid-template-columns: repeat(2, 1fr);
         justify-content: center;
         gap:0;
       }

    .trainingExcercise-container img{
       width:100%;
       height: auto;
       opacity: 0.5;
   }
   

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
     .training-excercise{
         padding: 58px 20px 30px 20px;
      }

      .training{
        width:100%;
        padding-bottom: 52px;
      }

      .training h2, .bmi-calculator h2{
        font-size: 32px;
        margin:10px;
    }
    
    .training p, .bmi-calculator p{
        font-size: 14px;
    }
        
     .trainingExcercise-container{
          display:grid;
          grid-template-columns: repeat(2, 1fr);
          justify-content: center;
          gap:0;
        }

     .trainingExcercise-container img{
        width:100%;
        height: auto;
        opacity: 0.5;
    }

	
}


/*========= Calculate chart style======= */

.calculator-chart{
    background-color: #000000;
    padding: 88px 0px;
}


.calculatorChart-container{
    display: flex;
    margin-top: 28px;
    background-color: #222222;
    justify-content: center;
    gap: 175px;
    padding : 52px 189px;
}

.calculatorChart-container h3{
    font-size: 28px;
    font-weight: 700;
    
}

.bmi-chart{
    width:50%;
    height: auto;
}

.bmi-chart h3{
    padding-bottom: 52px;
}

.bmi-calculate h3{
    padding-bottom: 14px;
}

.bmi-calculate p{
    padding-bottom: 34px;
}

.calculatorChart-container p, td{
    font-size: 14px;
 
}

.bmi-chart table{
    width: 310px;
    padding-bottom: 133px;
    table-layout:fixed;
    
}



.bmi-chart table, th, td{
    border: 1px solid #969287;
    padding: 10px;
    border-collapse: collapse;
    
}

table th{
  font-size: 18px;
  color: #FFFFFF;
  text-align: justify;
}

input[type="text"]{
    width: 25%;
    margin:10px 0px;
    padding: 10px 13px 10px 60px;
    background-color: #383838;
    color:#F0F0F4;
    border-radius: 6px;
    border:none;
    
}

select{
    width:10%;
    margin: 0px;
    padding: 10px 5px;
    border-radius: 6px;
    border:none;
    background-color: #383838;
    color:#F0F0F4;
   
}

input[type="button"]{
    padding:12px 50px;
    background-color: #E6533C;
    color:#FFFFFF;
    border-radius: 32px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    height:54px;
    margin: 34px auto 52px auto;
}


/*========Responsive styles======= */

@media only screen and (min-width: 992px) and (max-width: 1280px){
    .calculatorChart-container{
        flex-direction: column;
        gap:0px;
        padding:34px 20px 43px 20px;
    }

    .bmi-chart{
        width:100%;
        padding-bottom: 42px;
    }

    .bmi-chart table{
        width: 100%;
        padding: 23px 20px 64px 43px;
        table-layout:fixed;
        
    }
    .bmi-chart h3{
        font-size: 16px;
        padding-bottom: 23px;
    }


    table th{
        font-size: 16px;
        
      }

      .bmi-calculate{
        width: 100%;
      }

      .bmi-calculate h3{
        font-size: 16px;
      }

      .bmi-calculate form{
         width: 100%;
      }



      input[type="text"]{
        width:20%;
        text-align: right;
        font-size: 10px;
        
      }
}






/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    .calculatorChart-container{
        flex-direction: column;
        gap:0px;
        padding:34px 20px 43px 20px;
    }

    .bmi-chart{
        width:100%;
        padding-bottom: 42px;
    }

    .bmi-chart table{
        width: 100%;
        padding: 23px 20px 64px 43px;
        table-layout:fixed;
        
    }
    .bmi-chart h3{
        font-size: 16px;
        padding-bottom: 23px;
    }


    table th{
        font-size: 16px;
        
      }

      .bmi-calculate{
        width: 100%;
      }

      .bmi-calculate h3{
        font-size: 16px;
      }

      .bmi-calculate form{
         width: 100%;
      }



      input[type="text"]{
        width:20%;
        text-align: right;
        font-size: 10px;
        
      }
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
    .calculatorChart-container{
        flex-direction: column;
        gap:0px;
        padding:34px 20px 43px 20px;
    }

    .bmi-chart{
        width:100%;
        padding-bottom: 42px;
    }

    .bmi-chart table{
        width: 100%;
        padding: 23px 20px 64px 43px;
        table-layout:fixed;
        
    }
    .bmi-chart h3{
        font-size: 16px;
        padding-bottom: 23px;
    }


    table th{
        font-size: 16px;
        
      }

      .bmi-calculate{
        width: 100%;
      }

      .bmi-calculate h3{
        font-size: 16px;
      }

      .bmi-calculate form{
         width: 100%;
      }



      input[type="text"]{
        width:20%;
        text-align: right;
        font-size: 10px;
        
      }
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
    .calculatorChart-container{
        flex-direction: column;
        gap:0px;
        padding:34px 20px 43px 20px;
    }

    .bmi-chart{
        width:100%;
        padding-bottom: 42px;
    }

    .bmi-chart table{
        width: 100%;
        padding: 23px 20px 64px 43px;
        table-layout:fixed;
        
    }
    .bmi-chart h3{
        font-size: 16px;
        padding-bottom: 23px;
    }


    table th{
        font-size: 16px;
        
      }

      .bmi-calculate{
        width: 100%;
      }

      .bmi-calculate h3{
        font-size: 16px;
      }

      .bmi-calculate form{
         width: 100%;
      }



      input[type="text"]{
        width:20%;
        text-align: right;
        font-size: 10px;
        
      }

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {

        .calculatorChart-container{
            flex-direction: column;
            gap:0px;
            padding:34px 20px 43px 20px;
        }

        .bmi-chart{
            width:100%;
            padding-bottom: 42px;
        }

        .bmi-chart table{
            width: 100%;
            padding: 23px 20px 64px 43px;
            table-layout:fixed;
            
        }
        .bmi-chart h3{
            font-size: 16px;
            padding-bottom: 23px;
        }


        table th{
            font-size: 16px;
            
          }

          .bmi-calculate{
            width: 100%;
          }

          .bmi-calculate h3{
            font-size: 16px;
          }

          .bmi-calculate form{
             width: 100%;
          }



          input[type="text"]{
            width:20%;
            text-align: right;
            font-size: 10px;
            
          }

        }
	

/*======= Section our team===== */

.our-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 190px  88px 190px;
    background-color: #000000;
   
}

.team{
    width:100%;
    display: block;
    text-align: center;
    padding-bottom: 58px;
}

.team h2{
    padding-bottom: 14px;
    font-size: 48px;
}


.team p{
    font-size: 14px;
}


.ourTeam-container{
    width:1060px;
    height:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    background-color: #191919;
    padding:20px;
    
}

.meetTeam{
    position:relative;
    width: 100%;
}

.trainer-name{
    position:absolute;
    bottom:35px;
    left: 19px;
}

.trainer-name h6{
    font-size: 20px;
}

.trainer-name p{
    font-size: 14px;
}

 .meetTeam img{
    width: 327px;
    height: 272px;
    border-radius: 18px;
    margin: 0 auto;
    display: block;
 }

 /*======= Responsive styles======== */

 @media only screen and (min-width: 992px) and (max-width: 1280px) {
	
    .our-team{
        padding: 66px 20px;
        background-color: #000000;
       
    }

    .team{
        width:100%;
        padding: 0px 22px 37px 22px;
    }

    .team h2{
        color:#FFFFFF;
        font-size: 22px;
        padding-bottom: 14px;
    }
    
    .ourTeam-container{
        width:90%;
        height:auto;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        
    }

    .meetTeam{
        width:100%;
        display: block;
        margin:0 auto;
    }

    .meetTeam img{
        width: 100%;
        height: 272px;

     }
}





 
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    .our-team{
        padding: 66px 20px;
        background-color: #000000;
       
    }

    .team{
        width:100%;
        padding: 0px 22px 37px 22px;
    }

    .team h2{
        color:#FFFFFF;
        font-size: 22px;
        padding-bottom: 14px;
    }
    
    .ourTeam-container{
        width:90%;
        height:auto;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        
    }

    .meetTeam{
        width:100%;
        display: block;
        margin:0 auto;
    }

    .meetTeam img{
        width: 100%;
        height: 272px;

     }
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
    .our-team{
        padding: 66px 20px;
        background-color: #000000;
        align-items: center;
       
    }

    .team{
        width:100%;
        padding: 0px 22px 37px 22px;
    }

    .team h2{
        font-size: 22px;
        padding-bottom: 14px;
    }
    
    .ourTeam-container{
        width:80%;
        height:auto;
        grid-template-columns: 1fr;
        
    }

    .meetTeam{
        width:100%;
        display: block;
        margin:0 auto;
    }



    .meetTeam img{
        width: 100%;
        height: 272px;
        display: block;
        margin: 0 auto;

     }
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
    .our-team{
        padding: 66px 20px;
        background-color: #000000;
       
    }

    .team{
        width:100%;
        padding: 0px 22px 37px 22px;
    }

    .team h2{
        font-size: 22px;
        padding-bottom: 14px;
    }
    
    .ourTeam-container{
        width:80%;
        height:auto;
        grid-template-columns: 1fr;
        
    }

    .meetTeam{
        width:100%;
        display: block;
        margin:0 auto;
    }

    .meetTeam img{
        width: 100%;
        height: 272px;

     }

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
        .our-team{
            padding: 66px 20px;
            background-color: #000000;
           
        }

        .team{
            width:100%;
            padding: 0px 22px 37px 22px;
        }

        .team h2{
            font-size: 22px;
            padding-bottom: 14px;
        }
        
        .ourTeam-container{
            width:100%;
            height:auto;
            grid-template-columns: 1fr;
            justify-content: center;
            
            
        }

        .meetTeam{
            width:100%;
            
        }

        .meetTeam img{
            width: 100%;
            height: 272px;

         }
	
}

/*========Fitness get started styles======== */

.fitness-getStarted{
    display: flex;
    flex-direction: column;
    background-color: #303030;
    padding: 66px 190px 76px 190px;
}

.fitness-getStartedContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 102px;
    
}

.fitness{
    width:443px;
    height:auto;
}

.fitness-title{
    font-size: 70px;
    font-weight: bolder;
    color:#E6533C;
    font-style: italic;
    padding-bottom: 20px;
}

.getStarted-container{
    display: flex;
    justify-content: space-around;
    gap:154px;
}

ul li{
    list-style: none;
    font-size: 17px;
}

.get-started h4{
    font-size: 26px;
    font-weight: bold;
}

hr{  
    margin: 80px 190px -36px 190px; 
    background-color: #B9B9B9;


}


@media only screen and (min-width: 992px) and (max-width: 1280px){
    .fitness-getStarted{
        flex-direction: column;
        padding: 44px 20px 72px 20px;
    }
    
    
     .fitness-getStartedContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 102px;
        
    }  
    
    .fitness{
        width: 100%;
        height:auto;
    }
    
    .getStarted-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap:154px;
        
    }

    hr{  
        margin: 80px 190px -36px 190px;  
    
    
    }


}





/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    .fitness-getStarted{
        flex-direction: column;
        padding: 44px 20px 72px 20px;
    }
    
    
     .fitness-getStartedContainer{
        width: 100%;
        flex-direction: column;
        gap: 30px;
        
    }  
    
    .fitness{
        width: 100%;
        height:auto;
    }
    
    .getStarted-container{
         flex-direction: column;
         gap: 20px;
         align-items: center;
        
    }


    hr{  
        margin: 80px 190px -36px 190px;  
    
    }


}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
    .fitness-getStarted{
        flex-direction: column;
        padding: 44px 20px 72px 20px;
    }
    
    
     .fitness-getStartedContainer{
        width: 100%;
        flex-direction: column;
        gap: 30px;
        
    }  
    
    .fitness{
        width: 100%;
        height:auto;
    }
    
    .getStarted-container{
         flex-direction: column;
         gap: 20px;
         align-items: center;
        
    }


    hr{  
        width: 80%;
        margin: 72px  20px 0px 20px; 
    }
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
    .fitness-getStarted{
        flex-direction: column;
        padding: 44px 20px 72px 20px;
    }
    
    
     .fitness-getStartedContainer{
        width: 100%;
        flex-direction: column;
        gap: 30px;
        
    }  
    
    .fitness{
        width: 100%;
        height:auto;
    }
    
    .getStarted-container{
         flex-direction: column;
         gap: 20px;
         align-items: center;
        
    }

    hr{  
        width: 80%;
        margin: 72px  20px 0px 20px;  
    }

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
   .fitness-getStarted{
    flex-direction: column;
    padding: 44px 20px 72px 20px;
}


 .fitness-getStartedContainer{
    width: 100%;
    flex-direction: column;
    gap: 30px;
    
}  

.fitness{
    width: 100%;
    height:auto;
}

.getStarted-container{
     flex-direction: column;
     gap: 20px;
     align-items: center;
    
}

hr{  
    width: 80%;
    margin: 72px  20px 0px 20px; 
    
}
	
}

/*=========== Footer styles=========== */

 

footer{
    background-color: #303030;
    
}


footer p{
    padding: 0px  0px 35px 0px;
    text-align: center;
    font-size: 20px;
}

/*========== Responsive style========= */




/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	footer{
        background-color: #303030;
        
    }
    
    
    footer p{
        padding: 0px  0px 35px 0px;
        text-align: center;
        font-size: 20px;
    }
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	footer{
        background-color: #303030;
        
    }
    
    
    footer p{
        padding: 0px  0px 35px 0px;
        text-align: center;
        font-size: 20px;
    }
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	footer{
        background-color: #303030;
        
    }
    
    
    footer p{
        padding: 0px  0px 35px 0px;
        text-align: center;
        font-size: 20px;
    }

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
        footer{
            background-color: #303030;
            
        }
        
        
        footer p{
            padding: 0px  0px 35px 0px;
            text-align: center;
            font-size: 20px;
        }
	
}

