*{
    margin:0;
    padding:0;
}



header{
    background-color: #222222;
    padding-top: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 190px 96px 190px;


}

.nav-header h4{
    font-style: italic;
    font-size: 36px;
    color: #E6533C;
    font-weight: 700;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    
}

.nav-menu li{
    list-style-type: none;
    margin-left: 20px;

}

.nav-menu li a{
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 600;
}

.hamburger-menu{
    display: none;
}

.home-btn{
    padding: 12px 24px 12px 24px;
    border-radius: 46px;
    border:none;
    background-color: #E6533C;
    color:#FFFFFF;
    
}

.banner-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-bottom: 30px;
    
}

.banner-title{
    font-size: 78px;
}

.banner-content{
    width:50%;
    
}

.shape{
    font-style: italic;
    font-weight: 100;
}

.banner-title{
    font-size: 78px;
    color:#FFFFFF;
}

.description{
    color:#969287;
    font-size: 16px;
}

.btn-container{
    display: flex;
    gap: 14px;
    align-items: center;
    margin-top: 28px;
}

.btn-club{
    padding: 16px 46px 16px 46px;
    border-radius: 42px;
    background-color: #E6533C;
    border:none;
    font-size: 18px;
    font-weight: 600;
    color:#FFFFFF;
}

.download-btn{
    padding: 16px 48px 16px 48px;
    border-radius: 42px;
    background-color: #0F0F0F;
    border: 1px solid #969287;
    font-size: 18px;
    font-weight: 600;
    color:#FFFFFF;

}

.banner-potrait{
    margin-top: 32px;
}

.potrait-container{
    display: flex;
    gap:0px;

}

.video-tutorial-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:12px;
    margin-top: 360px;
    border:1px solid#303030;
    border-radius: 12px;
    padding:0 10px;
    height: 60px;
    background-color: #303030;
}

.video-tutorial h4{
  font-size: 24px;
  color:#FAFAF9;
}
.video-tutorial p{
    font-size: 16px;
    color:#969287;
  }


.red-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E6533C;
}

.potrait{
    margin-top: -100px;
    margin-left: -70px;
}


.workout-videos{
    border-radius: 10px;
    padding:10px;
    height: 60px;
    background-color: #303030;
    margin-left: -120px;
    margin-top: 40px;

}

.workout-videos h4{
    font-size: 40px;
    color:#FFFFFF;
    font-weight: 700;
}

.workout-videos p{
    font-size: 16px;
    color:#969287;
}




/*============== Responsive style================= */

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    header{
        padding: 52px 20px;
    }
	
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 52px 0px;
        
    }


    .banner-container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap:100px;
    }

    .banner-content{
        width:100%;
    }

    .banner-title{
        font-size: 36px;
    }

    .video-tutorial h4{
        font-size: 18px;
        color:#FAFAF9;
    }

    .btn-club{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    }
    
    .download-btn{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    
    }

    .banner-container{
        flex-direction: column;
        align-items: center;
        gap: 140px;
    }


    .video-tutorial-container{
        margin-top: 130px;
        z-index: 1;
        width:100%;
        padding: 10px;
        margin-right: 35px;
    
       }

    .red-circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }

    .potrait img{
        width: 100%;
        height: 388px;
        overflow: hidden;
        
    }

    .workout-videos{
        width: 100%;
        margin-left: -30px;
        margin-top: -70px;
    }

    .workout-videos h4{
        font-size: 20px;

    }

    .workout-videos p{
        font-size: 10px;
    }
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

    header{
        padding: 52px 20px;
    }
	
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 52px 0px;
        
    }

    .nav-menu{
        display: none;
    }

    .hamburger-menu{
        display: block;
        font-size: 40px;
        color:#B9B9B9;
        
    }


    .banner-container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap:100px;
    }

    .banner-content{
        width:100%;
    }

    .banner-title{
        font-size: 36px;
    }

    .video-tutorial h4{
        font-size: 18px;
        color:#FAFAF9;
    }

    .btn-club{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    }
    
    .download-btn{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    
    }

    .banner-container{
        flex-direction: column;
        align-items: center;
        gap: 140px;
    }


    .video-tutorial-container{
        margin-top: 40px;
        z-index: 1;
        width:100%;
        padding: 10px;
    
       }

    .red-circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }

    .potrait img{
        width: 100%;
        height: 388px;
        overflow: hidden;
        
    }

    .workout-videos{
        width: 100%;
        margin-left: -30px;
        margin-top: -70px;
    }

    .workout-videos h4{
        font-size: 20px;

    }

    .workout-videos p{
        font-size: 10px;
    }
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    header{
        padding: 52px 20px;
      } 
          
      nav{
       width: 90%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       
      }


    .nav-menu{
        display: none;
    }

    .hamburger-menu{
        display: block;
        font-size: 40px;
        color:#B9B9B9;
    }


    .banner-container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap:100px;
    }

    .banner-content{
        width:100%;
    }

    .banner-title{
        font-size: 36px;
    }

    .video-tutorial h4{
        font-size: 18px;
        color:#FAFAF9;
    }

    .btn-club{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    }
    
    .download-btn{
        padding: 10px 18px 16px 18px;
        border-radius: 22px;
        font-size: 10px;
        height: 40px;
    
    }

    .banner-container{
        flex-direction: column;
        align-items: center;
        gap: 140px;
    }


    .video-tutorial-container{
        margin-top: 40px;
        z-index: 1;
        width:100%;
        padding: 10px;
    
       }

    .red-circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }

    .potrait img{
        width: 100%;
        height: 388px;
        
    }

    .workout-videos{
        width: 100%;
        margin-left: -30px;
        margin-top: -70px;
    }

    .workout-videos h4{
        font-size: 20px;

    }

    .workout-videos p{
        font-size: 10px;
    }

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
      
     header{
      padding: 52px 20px;
    } 
        
    nav{
     width: 90%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     
    }

    .nav-menu{
     display: none;

    }

    .hamburger-menu{
      display: block;
      font-size: 40px;
      color:#B9B9B9;
     }


    .banner-container{
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap:100px;
    }

    .banner-content{
      width:100%;
      padding: 51px 20px 48px 21px;

     }

    .banner-title{
      font-size: 36px;
    }

   .video-tutorial h4{
     font-size: 18px;
     color:#FAFAF9;
    }

    .btn-club{
      width: 150px;
      padding: 10px 18px 16px 18px;
      border-radius: 22px;
      font-size: 10px;
      height: 40px;
    }
        
    .download-btn{
      width: 150px;  
      padding: 10px 18px 16px 18px;
      border-radius: 22px;
      font-size: 10px;
      height: 40px;
        
     }

     .banner-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 140px;
      
     }


        .video-tutorial-container{
            margin-top: 40px;
            z-index: 1;
            width:100%;
            padding: 0px;
            gap: 0px;
        
           }

        .red-circle{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .potrait img{
            width: 100%;
            height: 388px;
            
        }

        .workout-videos{
            width: 100%;
            margin-left: -30px;
            margin-top: -70px;
        }

        .workout-videos h4{
            font-size: 20px;

        }

        .workout-videos p{
            font-size: 10px;
        }

}

/*========Change Habits styles====== */

.change-habits{
    background-color: #000000;
    padding: 100px 198px;
}


.habits{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habits h2{
    font-size: 42px;
    color:#FFFFFF;
}



.changeHabits-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 40px;
    padding-top: 58px;
}

.change h4{
    color:#FFFFFF;
    font: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.change-image{
    width: 100%;
    margin-bottom: 30px;
    
}


.change-image img{
    width: 240px;
    height: auto;
    border-radius: 50%;
    
}

.change-description{
    color:#969287;
    font-size: 14px;

} 


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    .change-habits{
        padding: 50px;
        padding-bottom: 0px;
    }

    .changeHabits-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
     }


     .change-image img{
        width: 100%;

    }

}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
    .change-habits{
        padding: 50px;
    }

    .changeHabits-container{
        grid-template-columns: 1fr;
        align-items: center;
     }

     .change-image img{
        width: 100%;
        
    }

	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
    .change-habits{
        padding: 50px;
    }

    .changeHabits-container{
        grid-template-columns: 1fr;
        align-items: center;
     }

     .change-image img{
        width: 100%;
        
    }
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {

        .change-habits{
            padding: 28px;
        }

        .habits h2{
            font-size: 22px;
            margin: 10px 0px;
        }
	
        .changeHabits-container{
            grid-template-columns: 1fr;
            align-items: center;
         }

         .change-image img{
            width: 100%;
            
        }
}


/*===== Run extra mile styles==== */

.run-extraMile{
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 91px;
}

.run-extraMileContainer{
    display: flex;
    justify-content: center;
    background-color: #222222;
    margin: 0px 190px;
    gap: 165px;
    border-radius: 10px;
    padding: 30px 54px 30px 35px;
   
}

.extra-mile{
    padding: ;
}

.extra-mile h2{
   font-size: 48px;
   color: #FFFFFF;
   padding-bottom: 14px;
}

.extra-mile p{
  font-size: 14px;
  color:#969287;
  padding-bottom: 34px;

}

.btn-runMile{
    padding: 10px 18px 16px 18px;
    border-radius: 22px;
    font-size: 18px;
    font-weight: 600;
    height: 40px; 
    background-color: #E6533C;
    border: none;
    color:#FFFFFF;
}

.extraMile-potrait img{
    width: 366px;
    border-radius: 18px;
}


/*==========Responsive styles==========*/


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
		
.run-extraMileContainer{
    display: flex;
    margin:0px;
    gap: 31px;
    margin: 66px 20px;
    padding: 31px 33px;
  

}

 .btn-runMile{
    width: 100%;
    font-size: 14px;
  }

 .extra-mile h2{
    font-size: 22px;
    padding-bottom: 14px;
 }

.extraMile-potrait img{
    width:100%;
    border-radius: 18px;
}

}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
		
.run-extraMileContainer{
    flex-direction: column;
    margin:0px;
    gap: 31px;
    margin: 66px 20px;
    padding: 31px 33px;
  

}

 .btn-runMile{
    width: 100%;
    font-size: 14px;
  }

 .extra-mile h2{
    font-size: 22px;
    padding-bottom: 14px;
 }

.extraMile-potrait img{
    width:100%;
    border-radius: 18px;
}

	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
		
.run-extraMileContainer{
    flex-direction: column;
    margin:0px;
    gap: 31px;
    margin: 66px 20px;
    padding: 31px 33px;
  

}

 .btn-runMile{
    width: 100%;
    font-size: 14px;
  }

 .extra-mile h2{
    font-size: 22px;
    padding-bottom: 14px;
 }

.extraMile-potrait img{
    width:100%;
    border-radius: 18px;
}


}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
 .run-extraMile{
    padding-bottom: 66px;
 }

.run-extraMileContainer{
    flex-direction: column;
    margin:0px;
    gap: 31px;
    margin: 66px 20px;
    padding: 31px 33px;
  

}

 .btn-runMile{
    width: 100%;
    font-size: 14px;
  }

 .extra-mile h2{
    font-size: 22px;
    padding-bottom: 14px;
 }

.extraMile-potrait img{
    width:100%;
    border-radius: 18px;
}

	
}

/*=========Training excercise style=====*/

.training-excercise{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 91px 190px 88px 190px;
    background-color: #000000;
}


.training{
    padding-bottom:58px;
   
}

.training h2{
    color:#FFFFFF;
    font-size: 48px;
    margin:10px;
}

.training p{
    color:#969287;
    font-size: 14px;
}


.trainingExcercise-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap:0;
}


.trainingExcercise-container img{
    width:100%;
    height: 201px;
    opacity: 0.5;
}
img:hover {
    opacity: 1.0;
  }


.potrait-one{
    background-color: #08846E;
   
}

.potrait-two{
    background-color: #80302D;
}

.potrait-three{
    background-color: #797876;
}

.potrait-four{
    background-color: #1B171A;
}

.potrait-five{
    background-color: #B3EC9F;
}

.potrait-six{
    background-color: #A9C1F9;
}


.bmi-calculator{
    width: 100%;
    margin: 88px 194px;
    
}

.bmi-calculator h2{
    color:#FFFFFF;
    font-size: 48px;
    font-weight: 700;
}

.bmi-calculator p{
    color:#969287;
    font-size: 14px;
}



/*=========Responsive styles=======*/


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    .training-excercise{
        padding: 58px 20px 30px 20px;
     }

     .training{
       width:100%;
       padding-bottom: 52px;
     }

     .training h2{
       color:#FFFFFF;
       font-size: 32px;
       margin:10px;
   }
   
   .training p{
       color:#969287;
       font-size: 14px;
   }
       
    .trainingExcercise-container{
         display:grid;
         grid-template-columns: repeat(3, 1fr);
         justify-content: center;
         gap:0;
       }

    .trainingExcercise-container img{
       width:100%;
       height: auto;
       opacity: 0.5;
   }
   
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
    .training-excercise{
        padding: 58px 20px 30px 20px;
     }

     .training{
       width:100%;
       padding-bottom: 52px;
     }

     .training h2, .bmi-calculator h2{
       color:#FFFFFF;
       font-size: 32px;
       margin:10px;
   }
   
   .training p, .bmi-calculator p{
       color:#969287;
       font-size: 14px;
   }
       
    .trainingExcercise-container{
         display:grid;
         grid-template-columns: repeat(2, 1fr);
         justify-content: center;
         gap:0;
       }

    .trainingExcercise-container img{
       width:100%;
       height: auto;
       opacity: 0.5;
   }
   
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
    .training-excercise{
        padding: 58px 20px 30px 20px;
     }

     .training{
       width:100%;
       padding-bottom: 52px;
     }

     .training h2, .bmi-calculator h2{
       color:#FFFFFF;
       font-size: 32px;
       margin:10px;
   }
   
   .training p, .bmi-calculator p{
       color:#969287;
       font-size: 14px;
   }
       
    .trainingExcercise-container{
         display:grid;
         grid-template-columns: repeat(2, 1fr);
         justify-content: center;
         gap:0;
       }

    .trainingExcercise-container img{
       width:100%;
       height: auto;
       opacity: 0.5;
   }
   

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
     .training-excercise{
         padding: 58px 20px 30px 20px;
      }

      .training{
        width:100%;
        padding-bottom: 52px;
      }

      .training h2, .bmi-calculator h2{
        color:#FFFFFF;
        font-size: 32px;
        margin:10px;
    }
    
    .training p, .bmi-calculator p{
        color:#969287;
        font-size: 14px;
    }
        
     .trainingExcercise-container{
          display:grid;
          grid-template-columns: repeat(2, 1fr);
          justify-content: center;
          gap:0;
        }

     .trainingExcercise-container img{
        width:100%;
        height: auto;
        opacity: 0.5;
    }

	
}