*{
    margin:0;
    padding:0;
}

header{
    background-color: #282828;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 190px 96px 190px;

}

.nav-header h4{
    font-style: italic;
    font-size: 36px;
    color: #E6533C;
    font-weight: 700;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    
}

.nav-menu li{
    list-style-type: none;
    margin-left: 20px;

}

.nav-menu li a{
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 600;
}

.icon{
    display: none;
}

.home-btn{
    padding: 12px 24px 12px 24px;
    border-radius: 46px;
    border:none;
    background-color: #E6533C;
    color:#FFFFFF;
    
}

.banner-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    
}

.banner-content{
    width:50%;
    
}

.shape{
    font-style: italic;
    font-weight: 100;
}

.banner-title{
    font-size: 78px;
    color:#FFFFFF;
}

.banner-description{
    color:#969287;
    font-size: 16px;
}

.btn-container{
    display: flex;
    gap: 14px;
    align-items: center;
    margin-top: 28px;
}

.btn-club{
    padding: 16px 46px 16px 46px;
    border-radius: 42px;
    background-color: #E6533C;
    border:none;
    font-size: 18px;
    font-weight: 600;
    color:#FFFFFF;
}

.download-btn{
    padding: 16px 48px 16px 48px;
    border-radius: 42px;
    background-color: #0F0F0F;
    border: 1px solid #969287;
    font-size: 18px;
    font-weight: 600;
    color:#FFFFFF;

}

.potrait-container{
    display: flex;
    gap:0px;

}

.video-tutorial-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:12px;
    margin-top: 360px;
    border:1px solid#303030;
    border-radius: 10px;
    padding:0 10px;
    height: 60px;
    background-color: #303030;
}

.video-tutorial h4{
  font-size: 24px;
  color:#FAFAF9;
}
.video-tutorial p{
    font-size: 16px;
    color:#969287;
  }


.red-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E6533C;

    
    
}

.potrait{
    margin-top: -100px;
    margin-left: -70px;
}


.workout-videos{
    border-radius: 10px;
    padding:10px;
    height: 60px;
    background-color: #303030;
    margin-left: -120px;
    margin-top: 40px;

}

.workout-videos h4{
    font-size: 40px;
    color:#FFFFFF;
    font-weight: 700;
}

.workout-videos p{
    font-size: 16px;
    color:#969287;
}


